@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  color: rgb(255, 255, 255);
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(40, 40, 60);
}
.chat-box{
  border: 2px solid gainsboro;
  border-radius: 10px;
}
.chat-box img{
  border-radius: 50%;
}
.name{
  font-weight: bold;
  text-transform: capitalize;
}
.notification{
  background-color: rgb(88, 139, 163);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date{
  font-size: 12px;
}
.online-status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.green-light{
  background-color: rgb(43, 255, 0);
}
.red-light{
  background-color: rgb(206, 7, 7);
}
.singleUser{
 background: greenyellow;
 padding: 5px;
 border-radius: 5px; 
 cursor: pointer;
}

.chat-container{
  width: 100%;
  height: 75vh;
}
.message-div{
  overflow-y: scroll;
}
.message-div{
  padding: 5px;
  height: 60vh;
}
.message-box {
  display: flex;
  flex-direction: column;
}

.message-div {
  flex: 1; /* Allow the message div to take up remaining vertical space */
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  overflow-y:scroll; /* Add a scrollbar if messages overflow */
}
.message-div::-webkit-scrollbar {
  display: none;
} 
.single-message {
  padding: 8px;
  border-radius: 8px;
  margin: 4px;
}
.single-message>span{
  font-size: 11px;
  display: block;
  text-align: end;
}
.left-float {
  background-color: #546b42;
  align-self: flex-start;
}

.right-float {
  background-color: #5c3f3f;
  align-self: flex-end;
}

.message-name{
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(40, 40, 60);
  position: relative;
  color: chartreuse;
}
.message-send{
  position: relative;
  bottom:0%;
}
.no-message{
  text-align: center;
  font-size: 22px;
}